<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://abefunctestwin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c5ddd65b-3515-4ab3-ba5f-93cd7f8e11fe/resourceGroups/functestwin/providers/Microsoft.Web/sites/abefunctestwin</ResourceId>
    <UserName>$abefunctestwin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://abefunctestwin.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>